body {
//	background: url("../img/background/2.jpg") repeat;
	margin-top: 75px;
}

.bg-blue {
	background: url("../img/background/2.jpg");
	width: 100%;
	height: 100%;
	top: 0%;
	position: fixed;
	background-size: cover;
	z-index: -1;
}

/* Rounded avatars */
.avatar {
	opacity: 0.9;
    float: left;
    margin-top: 1em;
    margin-right: 1em;
    position: relative;
	height: 300px !important;
	width: 300px !important;
	background-repeat: no-repeat;
	background-position: top center;
	background-size: 300px auto !important;
	background-color: rgba(255,255,255, 0.9);
	
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;

    -webkit-box-shadow: 0 0 0 3px rgba(255,255,255,0.9), 0 0 0 2px #999, 0 2px 5px 4px rgba(0,0,0,.2);
    -moz-box-shadow: 0 0 0 3px rgba(255,255,255,0.9), 0 0 0 2px #999, 0 2px 5px 4px rgba(0,0,0,.2);
    box-shadow: 0 0 0 3px rgba(255,255,255,0.9), 0 0 0 2px #999, 0 2px 5px 4px rgba(0,0,0,.2);
    
    display: inline-block;
	vertical-align: middle;
}

.avatar.stretch {
	background-size: auto 300px !important;
}

/* Rounded avatars */
.news-ava {
	height: 40px !important;
	width: 40px !important;
	background-repeat: no-repeat;
	background-position: top center;
	background-size: 40px auto !important;
	background-color: rgba(255,255,255, 0.9);
	margin-right: 10px;
	cursor: pointer;
	
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    display: inline-block;
	vertical-align: middle;
}

.news-ava.stretch {
	background-size: auto 40px !important;
}

.ava-60 {
	height: 60px !important;
	width: 60px !important;
	background-repeat: no-repeat;
	background-position: top center;
	background-size: 60px auto !important;
	background-color: rgba(255,255,255, 0.9);
	margin-right: 10px;
	cursor: pointer;
	
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    display: inline-block;
	vertical-align: middle;
}

.ava-60.stretch {
	background-size: auto 60px !important;
}

input[id="adjective"]{ 
	-webkit-box-shadow: none;
		-moz-box-shadow: none;
          box-shadow: none;
}

.adjective-div{ max-width:70%; min-width:70%; height: 77px; font-size:60px; color:#FFF; vertical-align:middle; line-height:1.3; overflow:hidden; text-align:left; padding:8px 20px; background:rgba(0,0,0,.1); border: none;
 }

.center {
	margin: 0 auto;
}

.center-content, .center-t {
	text-align: center;
}

.nofloat {
	float: none;
}

.btn-xxl {
  min-height: 93px;
  min-width: 135px;
  padding: 22px 30px;
  font-size: 40px;
  font-family: 'RaleWayLight', sans-serif;
  -webkit-font-smoothing: antialiased;
  
  -webkit-border-radius: 0;
     -moz-border-radius: 0;
          border-radius: 0;
}

.text-success-trans {
  color: rgba(0,255,61,0.58);
}

.top-loader {
	position: absolute; 
	left: 49.5%; 
	top: 7%;
	display: none;
	padding: 7px;
	background: white;
	border: 1px solid #0e90d1;
//	box-shadow: 1px 1px 5px #0e90d1;
	opacity: 0.9;
}

.adjective-bar {
  position: relative;
  overflow: hidden;
  height: 20px;
  background-color: rgba(238,238,238,0.5);
  background-image: none;
  -webkit-border-radius: 0;
     -moz-border-radius: 0;
          border-radius: 0;
  -webkit-box-shadow: none;
     -moz-box-shadow: none;
          box-shadow: none;
}

.adjective-bar .bar {
	float: left;
	width: 0;
	height: 100%;
	font-size: 12px;
	color: #ffffff;
	text-align: center;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-transition: width 1s ease;
	-moz-transition: width 1s ease;
	-o-transition: width 1s ease;
	transition: width 1s ease;
}

.adjective-bar:hover {
  	background-color: rgba(238,238,238, 0.8);
}

.adjective-bar:hover .bar {
	background-color: #0072e6;
}

.adjective-bar:hover .btn-adjrate {
	visibility: visible;
}

.adjective-bar .bar {
  background-color: #0e90d1;
  background-image: none;
}

.adjective-toptext {
	font-family: 'RaleWayLight', sans-serif;
	font-weight: 100;
	font-size: 20px;
	color: white;
}

.btn-adjrate {
	padding: 0;
	height: 20px;
	width: 20px;
	position: absolute;
	visibility: hidden;
	line-height: 20px;
	vertical-align: middle;
	opacity: 0.9;
}

.btn-adjrate.plus {
	left: 100%;
	margin-left: -20px;
}

.text-white {
	color: white;
}

.adj-vote, .pointer {
	cursor: pointer;
}

.adj-vote.for:hover {
	color: #3fb618;
}

.adj-vote.for.voted {
	color: #3fb618;
}

.adj-vote.against:hover {
	color: #ff0039;
}


.adj-vote.against.voted {
	color: #ff0039;
}

.sociallinks {
	display: block;
	margin: 5% 0 1%;
}

.sociallinks ul {
	list-style: none;
	text-align: center;
	margin: 0 auto;
}

.sociallink svg, .sociallink img {
	height: 4em;
	width: 4em;
	margin: 0 0.5%;
}

.sociallink.desktop {
	display: none;
}

.sociallink {
	-webkit-transition: opacity 0.4s ease-out;
	-moz-transition: opacity 0.4s ease-out;
	transition: opacity 0.4s ease-out;
	border: none;
	cursor: pointer;
}

.sociallink:hover .SocialIconFill {
	opacity: 1;
}

		
.SocialIconFill {
	fill: white;
	opacity: 0.4;
}

.voting {
	display: inline-block;
	min-width: 35px; 
}

h3.chat {
	width: 70%;
	margin: 0 auto;
	font-size: 20px;
}

.badge.followers {
	font-family: 'RaleWayExtraLight', sans-serif;
	font-size: 14px;
	min-width: 140px;
	max-width: 140px;
	padding: 10px;
	margin: 20px 3px 0;
	text-transform: uppercase;
}

.badge.news {
	font-size: 26px;
	line-height: normal;
	
	-webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
    
    font-family: 'RaleWayLight', sans-serif;
}

.followers b {
	font-family: 'RaleWayRegular', sans-serif;
	color: #47cd1b;
	font-weight: 900;
	font-size: 18px;
}

.trans-h {
	cursor: pointer;
	opacity: 0.5;
}

.trans-h:hover {
	opacity: 1;
}

.notrans {
	opacity: 1 !important;
}

.btn {
	-webkit-font-smoothing: antialiased !important;
}

.voteme-hint {
	font-family: "RaleWayMedium";
	text-align: center;
	color: rgba(255,255,255,0.8);
	margin-top: 10px;
	font-size: 14px;
}

.voteme-hint span {
	cursor: pointer;
	border-bottom: 1px dashed rgba(255,255,255,0.8);
}

.voteme-hint span:hover {
	border-bottom: 1px dashed white;
	color: white;
}